* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

#telefone {
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    height: 627px;
    width: 311px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

iframe {
    width: 268px;
    height: 473px;

    position: relative;
    top: 79px;
    left: 21px;
}

#social {
    text-align: right;
}

ul {
    list-style-type: none;
}

li img {
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
}

li img:hover {
    box-shadow: 4px 4px 10px black;
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-3px, -3px);
    transition: transform .3s, border 1s;
}